* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

hr {
  width: 100%;
  color: hsl(24, 5%, 18%);
  border: 0.5px solid hsl(30, 10%, 34%);
}

body {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(30, 54%, 90%);
  color: hsl(30, 10%, 34%);
  font-size: 22px;
}
body .card {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2.6rem;
  margin: 8rem;
  border-radius: 2rem;
}
body .card img {
  max-width: 100%;
  border-radius: 1rem;
}
body .card h1 {
  align-self: flex-start;
  color: hsl(24, 5%, 18%);
  font-size: 3.6rem;
}
body .card p {
  font-family: "Outfit";
  color: hsl(30, 10%, 34%);
}
body .card .prep-time {
  background-color: hsl(330, 100%, 98%);
  width: 100%;
  border-radius: 1rem;
  font-family: "Outfit";
}
body .card .prep-time h4 {
  padding-top: 2rem;
  padding-left: 2rem;
  color: hsl(332, 51%, 32%);
  font-size: 1.8rem;
}
body .card .prep-time ul {
  margin: 2rem 4rem;
  color: hsl(30, 10%, 34%);
}
body .card .prep-time li {
  width: 100%;
  padding-left: 2rem;
  padding-bottom: 1rem;
}
body .card .ingredients {
  width: 100%;
}
body .card .ingredients h3 {
  font-size: 2.6rem;
  color: hsl(14, 45%, 36%);
  font-family: "Serif";
  padding-left: 0%;
}
body .card .ingredients ul {
  font-family: "Outfit";
  color: hsl(30, 10%, 34%);
  padding-left: 2rem;
  margin-top: 1.6rem;
}
body .card .ingredients ul li {
  padding-left: 2rem;
  padding-bottom: 1rem;
}
body .card .instructions h3 {
  font-size: 2.6rem;
  color: hsl(14, 45%, 36%);
}
body .card .instructions ol {
  font-family: "Outfit";
  color: hsl(24, 5%, 18%);
  padding-left: 2rem;
  margin-top: 1.6rem;
}
body .card .instructions ol li {
  color: hsl(30, 10%, 34%);
  padding-left: 2rem;
  padding-bottom: 1rem;
}
body .card .nutrition {
  width: 100%;
}
body .card .nutrition h3 {
  font-size: 2.6rem;
  color: hsl(14, 45%, 36%);
  margin-bottom: 1.6rem;
}
body .card .nutrition .container {
  display: grid;
  margin-top: 1.6rem;
  grid-template-columns: 1fr 1fr;
}
body .card .nutrition .container .right {
  font-weight: bold;
}
body .card .nutrition .container .right p {
  color: hsl(14, 45%, 36%);
}
body .card .nutrition .container .left {
  color: hsl(30, 10%, 34%);
}
body .card .nutrition .container p {
  font-family: "Outfit";
  padding: 1rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: #fff;
  }
  body .fine-line {
    height: 0.05rem;
    width: 80%;
    background-color: hsl(24, 5%, 18%);
  }
  body .card {
    width: 100vw;
    padding: 0%;
    margin: 0%;
    border-radius: 0%;
    gap: 1rem;
  }
  body .card img {
    border-radius: 0%;
    width: 100vw;
  }
  body .card h1 {
    padding: 2rem;
  }
  body .card p {
    padding: 2rem;
  }
  body .card .prep-time {
    width: 90%;
  }
  body .card .ingredients {
    padding: 2rem;
  }
  body .card .instructions {
    padding: 2rem;
  }
  body .card .nutrition {
    padding: 2rem;
  }
  body .card .nutrition .fine-line {
    width: 100%;
  }
}
@font-face {
  font-family: "Outfit";
  src: local("Outfit"), url("/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Serif";
  src: local("YoungSerif"), url("/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}/*# sourceMappingURL=style.css.map */